<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="animation.css">
</head>

<body
  style="background:rgba(0,0,0,0) linear-gradient(136deg,rgb(68,132,206),rgb(26,215,192),rgb(255,155,17),rgb(155,89,182),rgb(255,127,127),rgb(236,240,241)) repeat scroll 0% 0% / 1200% 1200%">
  <div id="stars"></div>
  <div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
      <!-- header -->
      <h2>Login</h2>
      <!-- form -->
      <div class="inputBx">
        <input type="email" placeholder="Email" autocomplete="username">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password" autocomplete="current-password">
      </div>
      <div class="inputBx">
        <input type="submit" value="Sign in">
      </div>
      <div class="links">
        <a href="#">Forget Password</a>
        <a href="#">Signup</a>
      </div>
    </div>
  </div>
</body>

</html>